@font-face {
    font-family: 'CrDi';
    src: url('Autres/fonts/CreatoDisplay-Light.otf');
    src: url('Autres/fonts/CreatoDisplay-Light.ttf');
}
@font-face {
    font-family: 'CaDr';
    src: url('Autres/fonts/CaviarDreams.ttf');
}
header {
  height:10%;
  background-color: rgb(134, 159, 172);
  min-width:100%;
  position: absolute;
  top:0px;
  left: 0px;
  opacity: 75%;
}

#header{
  margin-left: 45%;
}
/*Style pour le background du body*/
body{
  margin-top: 110px;
  color: white;
  background-image: url(Autres/Images/Capture.png);
}

/*Reglage des fonts */
h3{
  font-family: 'CaDr';
}
h4 {
  font-family: 'CaDr',Arial;
}
h5 {
  text-align: right;
}

.GameIMG {
  width: 384px;
  height: 204px;
  margin-left: 25%;
}

p {
  font-family: 'CaDr','CrDi',Arial;
}
/*          CODE UTILISE POUR LA MISE EN FORME DE MON PORTRAIT
.moi {
  right: 0px;
}

#moi {
  width: 154px;
  height: 203.4px;
}
*/
.PhotoEnzo{
  float: right;
}

#global {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.global1 {
  margin: 0 auto;
}


.video {
  margin: auto;
  width: 70%;
}

/*position et apparence du bas de page*/
footer {
  position: relative;
  margin: auto;
  bottom: 0px;
  left: 0px;
  color:  black;
  background-color: rgb(134, 159, 172);
  width: 100%;
  opacity: 75%;
}


#footer {
  margin-left: 40%;
}
