@font-face {
    font-family: 'CrDi';
    src: url('../Autres/fonts/CreatoDisplay-Light.otf');
    src: url('../Autres/fonts/CreatoDisplay-Light.ttf');
}
@font-face {
    font-family: 'CaDr';
    src: url('../Autres/fonts/CaviarDreams.ttf');
}
header {
  height:10%;
  background-color: rgb(134, 159, 172);
  min-width:100%;
  position: absolute;
  top:0px;
  left: 0px;
  opacity: 70%;
}

p {
  font-family: 'CaDr','CrDi',Arial;
}

/*Style pour le background du body*/
body{
  margin-top: 110px;
  background-image: url(../Autres\Images\Capture.png);
  color: white;
}

h4 {
  font-family: 'CaDr',Arial;
}
h3{
  font-family:'CaDr',Arial;
}

#header{
  margin-left: 45%;
}

.global {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*position et apparence du bas de page*/
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
    color: black;
  background-color: rgb(134, 159, 172);
  width: 100%;
  opacity: 70%;
}


#footer {
  margin-left: 40%;
}
