header {
  height:10%;
  background-color: white;
  min-width:100%;
  position: absolute;
  top:0px;
  left: 0px;
}


#header{
  margin-left: 45%;
}

#global {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.moi {
  right: 0px;
}

#moi {
  width: 154px;
  height: 203.4px;
}

.global1 {
  margin: 0 auto;
  width: 700px;
}

/*Style pour le background du body*/
body{
  margin-top: 110px;
  background-image: url(Autres/Images/BlackTile.png);
  color: white;
}


/*position et apparence du bas de page*/
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  color:black;
  background-color: white;
  width: 100%;
}


#footer {
  margin-left: 40%;
}
