.root {
  width: 60%;
  margin: 10rem 0;
  @media (max-width: $mantine-breakpoint-sm) {
    width: 80%;
  }
}

.text {
  font-family: "Sequel", sans-serif;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 4vw;
  }
}

.input {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Sequel", sans-serif;
  color: white;

  &::placeholder {
    color: white;
  }
}

.button {
  background-color: light-dark(#2700b6c5, #b68500c5);
  font-weight: 500;
}
