.container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  background-image: light-dark(
    linear-gradient(121.5deg, #00ff47 0%, #00fff0 45%, #0066ff 100%),
    linear-gradient(121.5deg, #000e90ff 0%, #2d005aff 45%, #87019dff 100%)
  );
  background-size: cover;
}

.elementElipse,
.elementLine,
.elementRect {
  height: auto;
  width: 100%;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 0;
}

.elementElipse {
  bottom: -25vh;
  left: -12.5vw;
  width: rem(668px);
  ellipse {
    fill: light-dark(#05ff00, #5800c9);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  @media (max-width: $mantine-breakpoint-lg) {
    bottom: -12.5vh;
    left: -10vw;
    width: rem(568px);
  }
  @media (max-width: $mantine-breakpoint-sm) {
    bottom: -9vh;
    right: -17vw;
    width: rem(360px);
  }
}

.elementLine {
  top: -30vh;
  left: -10vw;
  width: rem(1750px);
  rect {
    fill: light-dark(#04c3ff, #c300c7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }

  @media (max-width: $mantine-breakpoint-lg) {
    top: -25vh;
    left: -15vw;
    width: rem(1612px);
  }
  @media (max-width: $mantine-breakpoint-sm) {
    top: -12.5vh;
    left: -20vw;
    width: rem(960px);
  }
}

.elementRect {
  bottom: -20vh;
  right: -10vw;
  width: rem(860px);
  rect {
    fill: light-dark(#ffe600, #1a00bb);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }

  @media (max-width: $mantine-breakpoint-lg) {
    bottom: -12.5vh;
    right: -10vw;
    width: rem(660px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    bottom: 30vh;
    right: -17vw;
    width: rem(360px);
  }
}
