header {
  height:10%;
  background-color: white;
  min-width:100%;
  position: absolute;
  top:0px;
  left: 0px;
}


#header{
  margin-left: 45%;
}


/*Style pour le background du body*/
body{
  margin-top: 110px;
  background-image: url(../Autres/Images/BlackTile.png);
  color: white;
}


/*position et apparence du bas de page*/
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  color:black;
  background-color: white;
  width: 100%;
}


#footer {
  margin-left: 40%;
}
